:root {
  --primary-color: #1992d4;
  --secondary-color: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, 1fr);
}

.sidebar {
  background-color: var(--primary-color);

  grid-row: 1 / span 5;

  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.main-content {
  background-color: var(--secondary-color);

  grid-row: 2 / span 4;
}



